<section class="quienes-somos">
    <div class="imagen">
        <img src="assets/img/empresario1.jpg" alt="Empresario">
    </div>
    <div class="texto">
      <h2>Sobre el propietario</h2>
      <p>
        Miguel Barrionuevo, empresario malagueño con décadas de experiencia en el sector hostelero,
        ha impulsado tres restaurantes de referencia en la provincia. Su pasión por la gastronomía
        y el trato cercano lo han convertido en un referente en el sector.
      </p>
    </div>
  </section>
  