.quienes-somos {
    display: flex;
    padding: 60px 40px;
    background-image: url('/assets/img/fondoEmpresario.jpg');
    background-position: center;
    align-items: center;
  }
  
  .imagen {
    flex: 1;
    padding-right: 40px;
  }
  
  .imagen img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    
  }
  
  .texto {
    flex: 2;
    padding-left: 100px;
  }
  
  .texto h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .texto p {
     
    font-size: 1.1em;
    line-height: 1.6;
  }
  