<section class="catering">
  <div class="texto">
    <h2>{{ 'CATERING.TITLE' | translate }}</h2>
    <p [innerHTML]="'CATERING.PARAGRAPH_1' | translate"></p>
    <p [innerHTML]="'CATERING.PARAGRAPH_2' | translate"></p>
    <p>{{ 'CATERING.CONTACT' | translate }}</p>
    <strong><a href="tel:952068444">952 06 84 44</a></strong>
  </div>

  <div class="imagen-carrusel">
    <img [src]="imagenes[indiceActual]" alt="Catering" class="imagen-principal" />
    <img src="assets/img/extra1.jpg" alt="" class="imagen-secundaria" />
  </div>
</section>
