<section class="catering">
    <div class="texto">
      <h2>Servicio de Catering</h2>
      <p>
        En El Cenachero ofrecemos un exclusivo servicio de catering diseñado para adaptarse a cualquier tipo de evento,
        desde bodas y comuniones hasta reuniones de empresa o celebraciones privadas. Nuestro equipo de cocina y atención
        al cliente trabaja de forma personalizada para que cada ocasión sea única y especial.
      </p>
      <p>
        Confía en nosotros para transformar tus momentos importantes en experiencias inolvidables.
        Contacta con nosotros y descubre cómo podemos ayudarte a sorprender a tus invitados.
      </p>
      <p>No dudes en ponerte en contacto</p>
      <strong><a href="tel:952068444">952 06 84 44</a></strong>
          </div>
 
    <div class="imagen-carrusel">
      <img [src]="imagenes[indiceActual]" alt="Catering" class="imagen-principal" />
      <img src="assets/img/extra1.jpg" alt="" class="imagen-secundaria" />
    </div>
  </section>
  