<app-header></app-header>

<section class="trabaja-hero">
  <div class="presentacion-texto">
    <h1>{{ 'TRABAJA.HERO_TITULO' | translate }}</h1>
    <p [innerHTML]="'TRABAJA.HERO_TEXTO' | translate"></p>
  </div>
</section>

<section class="formulario-trabaja centrado">
  <form (ngSubmit)="enviarSolicitud()" #formRef="ngForm" enctype="multipart/form-data" novalidate>
    <h2>{{ 'TRABAJA.FORM_TITULO' | translate }}</h2>
    <p class="subtitulo-formulario">{{ 'TRABAJA.FORM_SUBTITULO' | translate }}</p>

    <input type="text" name="nombre" [(ngModel)]="form.nombre" required [placeholder]="'TRABAJA.INPUT_NOMBRE' | translate" />
    <input type="text" name="apellidos" [(ngModel)]="form.apellidos" required [placeholder]="'TRABAJA.INPUT_APELLIDOS' | translate" />
    <input type="email" name="correo" [(ngModel)]="form.correo" required [placeholder]="'TRABAJA.INPUT_CORREO' | translate" />
    <input type="file" (change)="onFileSelected($event)" accept="application/pdf" required />
    <textarea name="mensaje" [(ngModel)]="form.mensaje" [placeholder]="'TRABAJA.INPUT_MENSAJE' | translate"></textarea>
    
    <button type="submit" [disabled]="!formRef.form.valid || !archivoSeleccionado">
      {{ 'TRABAJA.BOTON_ENVIAR' | translate }}
    </button>
  </form>

  <div class="imagenes-inferiores">
    <img src="/assets/img/img-camareros/camarera1.jpeg" [alt]="'TRABAJA.IMG1_ALT' | translate" />
    <img src="/assets/img/img-camareros/camarero2.jpeg" [alt]="'TRABAJA.IMG2_ALT' | translate" />
  </div>
</section>

<app-footer></app-footer>
